.metadata/
SDU_Lab_1/Debug/SDU_lab_2_1_priprema_2017_2018.obj
SDU_Lab_1/Debug/SDU_Lab_1_linkInfo.xml
SDU_Lab_1/Debug/SDU_Lab_1.out
SDU_Lab_1/Debug/SDU_Lab_1.map
SDU_Lab_1/Debug/DSP2833x_GlobalVariableDefs.obj
SDU_Lab_1/Debug/DSP2833x_CodeStartBranch.obj
.gitignore
